<!-- this renders a search bar -->

<% if @blog.empty? || params[:search] == "" %>
	No results found
<% else %>

	<!-- this renders an exerpt of each blog that has a content match of
	the pattern in the search request. -->
	<% @blog.each do |b| %>
		<div id="content">	
			<div class="blogPost">
			<h1><%= b.title %></h1>
	   	    	<div class="lineBreak"></div>
				<% content = b.content.downcase.scan(params[:search].downcase) %>
				<% c = content.first %>
				<br />
				<h3><%= excerpt(b.content, c).html_safe %></h3>
				<a href="<%= life_path(Blog.find_by_title(b.title)) %>">read more</a>
			</div>
		</div>
	<% end %>

	<div id="paginate">
		<%= will_paginate @blog %>		
	</div	>

<% end %>
