body{
background: #e6e6e6 url("../images/background.jpg") top left repeat-x;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1{
font-size: 24px;
}

h2{
font-size: 12px;
font-weight: 300;
color: #808080;
}

h3{
font-size: 14px;
font-weight: 300;
color: #3f3f3f;
}

p{
font-size: 14px;
font-weight: 300;
color: #3f3f3f;
}

h1.ReadMsgSubject{
margin: 0px;
color: #c84663;
}

.lineBreak {
width: 100%;
border-top: 1px solid #b6b6b6;
}

li{
margin: 0px;
padding: 0px;
list-style: none;
}
ul{
margin: 0px;
padding: 0px;
}
#container{
margin: 0px auto;
width: 960px;
}

body a:link{
text-decoration: none;
color:#42826c;
}
body a:visited{
text-decoration: none;
color:#42826c;
}
body a:hover{
text-decoration: underline;
color:#42826c;
}
body a:active{
text-decoration: none;
color:#42826c;
}

h1 a:link{
conor: #C84663
}

.clearBoth{
clear: both;
}



/*
==================================
 Header 
==================================
*/

#textHeader h1{
display: none;
}
#textHeader{
margin-top: 15px;
margin-bottom: 25px;
color: #002f32;
width: 660px;
height: 48px;
background: url("../images/disjointedText.png") top left no-repeat;
}


/*
==================================
 Nav 
==================================
*/

#searchBar input{
max-width: 125px;
}

#searchBar{
margin: 20px 0px 0px 35px;
width: 250px;
float: left;
}

header nav{
width: 666px;
float: left;
}


header nav ul{
margin-top: 20px;
}
header nav li{
padding: 0px 20px 0px 0px;
display: inline;
}

header nav a{
font-weight: 200;
font-size: 20px;
text-decoration: none;
color: #e6e6e6;
}
header nav a:link{
text-decoration: none;
color: #e6e6e6;
}
header nav a:visited{
text-decoration: none;
color: #e6e6e6;
}


header nav a:hover{
color: #c84663;
}
header nav a:active{
text-decoration: none;
color: #e6e6e6;
}
/*
==================================
Content 
==================================
*/

#content{
float: left;
width: 666px;
}

#content h1{
margin: 0px;
color: #c84663;
}

#blogContain{
width: 666px;
float: left;
}

/*
==================================
 Blog Post 
==================================
*/
.blogPost img{
padding: 10px 10px 10px 10px;
margin: 0px 0px 0px 0px;
background-color: #fff;
-moz-box-shadow:    0px 0px 3px 3px #ccc;
-webkit-box-shadow: 0px 0px 3px 3px #ccc;
box-shadow:         0px 0px 3px 3px #ccc;
}

.blogPost{
margin-bottom: 25px;
padding: 15px;
background-color: #fdfdfd;
width: 636px;

-moz-border-radius: 6px;
border-radius: 6px;

-moz-box-shadow: -1px -1px 1px #dadada;
-webkit-box-shadow: -1px -1px 1px #dadada;
box-shadow: -1px -1px 1px #dadada;
}

/*
blog Admin
*/

.editPost {
border: #ddd 2px dotted;
padding: 10px 25px;
}

.editPost h2{
font-size: 16px;
}

.editPost li{
display: inline;
}
/*
==================================
 Right Sidebar
==================================
*/

#rightContain{
float: left;
width: 262px;
margin: 0;
padding: 0;
}

#bennyBowTieImage{

background: url("../images/bennyBowTie.png") top left no-repeat;
width: 262px;
height: 97px;
margin: 0 0 0 25px;
padding: 0 0 0 0;
}


#bennyBowTieImage img{
width: 262px;
margin:0px;
padding:0px;
}

#bennyBowTieImage a{
margin: 0;
padding: 0;
}

#expand{
margin: 0 0 0 25px;

padding: 0;
width: 262px;
background: url("../images/expand.png") top left repeat-y;
}
#expand img{
padding:6px;
}
#expand h1{
font-size: 18px;
font-weight:400;
margin: 0 0 0 15px;
padding: 5px 0 0 0;
color: #42826c;
}

#bottom{

padding: 0;
margin: 0 0 25px 25px;
width: 262px;
height: 6px;
background: url("../images/bottom.png") top left no-repeat;
}

.rightBar{
background-color: #f2f2f2;
margin-left: 25px;
margin-bottom: 25px;
padding: 6px;

width: 250px;

-moz-border-radius: 6px;
border-radius: 6px;

-moz-box-shadow: -1px -1px 1px #dadada;
-webkit-box-shadow: -1px -1px 1px #dadada;
box-shadow: -1px -1px 1px #dadada;
}

.rightBar h1{
font-size: 18px;
font-weight:400;
margin-left: 10px;
margin-top: 8px;
color: #42826c;
}

.rightBar li{
padding: 2px 10px 2px 10px;
border-top: 1px solid #b6b6b6;
}
/*
==================================
 Twitter 
==================================
*/
.twtr-tweet-text p{
font-size: 11px;
}

#twitterFeed{
width: 266px;
}
.twtr-hd, .twtr-ft{
display: none;
}




/*
==================================
 Pagination 
==================================
*/

#paginate {
clear: both;
}

#paginate .pagination a{
text-decoration: none;
color: #002f32;
}
#paginate .pagination a:link{
text-decoration: none;
color: #002f32;
}
#paginate .pagination a:visited{
text-decoration: none;
color: #002f32;
}
#paginate .pagination a:active{
text-decoration: none;
color: #002f32;
}
#paginate .pagination a:hover{
color: #c84663;
}

#paginate .pagination .current{
color: #c84663;
}

/*
==================================
Work
==================================
*/

#workFormContain{
border: #ddd 2px dotted;
padding: 25px;
}

#workFormContain input{
max-width: 150px;
}

#workFormContain h2{
padding: 0;
Margin: 5px;
font-size: 16px;
}

#workContain{
margin-bottom: 25px;
padding: 15px;
background-color: #fdfdfd;
width: 960px;

-moz-border-radius: 6px;
border-radius: 6px;

-moz-box-shadow: -1px -1px 1px #dadada;
-webkit-box-shadow: -1px -1px 1px #dadada;
box-shadow: -1px -1px 1px #dadada;
}

.workAdminContain{
padding: 25px;
float: left;
height: 175px;
}

.workAdminContain img{
padding: 10px 10px 10px 10px;
margin: 0px 0px 0px 0px;
background-color: #fff;
-moz-box-shadow:    0px 0px 3px 3px #ccc;
-webkit-box-shadow: 0px 0px 3px 3px #ccc;
box-shadow:         0px 0px 3px 3px #ccc;
}

