<div id="content">
	

	<% unless Blog.first == nil || Blog.to_s.empty? %>
		<div class="blogPost">
		<h1><%= Blog.first.title.html_safe %></h1>
		<h2>Posted <%= time_ago_in_words(Blog.first.created_at) %> ago by: Tammy</h2>
		<div class="lineBreak"></div>
		<h3><%= Blog.first.content.html_safe %></h3>
		</div>
	<% end %>

</div>

<div id="rightBar">
<div id="twitterFeed">
<h1>Tweet Tweet</h1>
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
  new TWTR.Widget({
      version: 2,
        type: 'profile',
        rpp: 3,
        interval: 30000,
        width: 250,
        height: 300,
        theme: {
          shell: {
            background: '#f2f2f2',
            color: '#ffffff'
                 },
          tweets: {
            background: '#f2f2f2',
            color: '#002f32',
            links: '#42826c'
                  }
                },
        features: {
          scrollbar: false,
          loop: false,
          live: false,
          behavior: 'all'
                  }
  }).render().setUser('tammyportnoy').start();
</script>
</div>
	<h1><a href="http://mydadwearsbowtieseveryday.tumblr.com">Benny's Bow Ties</a></h1>
	<img src="<%= @bow_ties["response"]["posts"][0]["photos"][0]["alt_sizes"][2]["url"] %>" /img>
</div>
