<!-- this code renders the index of articles tammy has posted for
her portfolio -->
<div id="workContain">
<% if signed_in? %>
	<div id="workFormContain">
	<h2> Admin Option - Add Work</h2>

	<%= render 'forms/portfolio_form' %>

</div>
<% end %>

<%= render @portfolio %>

<div class="clearBoth"></div>
</div>